In [1]:
import pandas as pd
import plotly
import plotly.plotly as py
import os

In [14]:
crime_df = pd.read_csv(os.path.join('formatted','crimes.csv'))

In [15]:
crime_df.head()

,State,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,AK,155.132450,116.968699,106.403941,86.644951,91.364003,78.158397,81.119896,76.229731,68.797433,...,85.006394,93.983182,93.632825,83.176269,79.573398,86.265091,84.502190,85.340671,103.157207,114.571623
1,AL,185.751234,166.721273,160.476962,130.928309,121.216643,128.218390,124.952114,133.113160,134.066770,...,159.858215,157.575238,133.051359,101.642475,102.129842,104.202819,96.090274,97.020249,95.016868,96.354327
2,AR,125.684380,114.103586,111.533888,96.217494,79.329835,74.848508,80.936714,93.264969,81.641661,...,109.531653,97.254666,89.151915,81.086040,80.208754,78.309651,76.417019,68.659026,71.091488,70.944580
3,AZ,173.755334,167.773261,165.686059,165.238809,152.521842,146.258784,167.101127,147.028418,136.560259,...,154.036558,150.903513,124.306791,108.417725,110.478614,112.697788,100.316549,92.513015,93.288439,101.788021
4,CA,331.162747,295.570613,252.473038,210.554994,181.139782,177.874428,186.743166,185.612325,179.822682,...,193.433054,188.776643,173.403990,155.647576,144.069357,148.739951,139.573395,125.491428,135.564654,139.589748

In [17]:
plotly.tools.set_credentials_file(username='alandavila', api_key='PLKr3xS5w3So5LOafw3h')

In [21]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]


data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = crime_df['State'],
        z = crime_df['2016'].astype(float),
        locationmode = 'USA-states',
        text = crime_df['2016'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Crime per 100k habitants")
        ) ]

layout = dict(
        title = 'Crime rate per State',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='Crime_rate_map' )

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~alandavila/0 or inside your plot.ly account where it is named 'Crime_rate_map'